html {
  overflow: hidden;
  height: 100%;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 100%;
  overflow: auto;
  position: relative;
  background-image: url("../../images/bruno-nascimento-149663-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 42% 35%;
}
.App {
  position: relative;
  height: 100vh; /* viewport height */
  min-height: 100%;
  z-index: 2;
}

.App-Login{
  color: white;
  background-color: #ff8f4e;
  box-shadow: none;
}

.App-Login:hover{
  background-color: rgb(233, 128, 67);
}

.App-Top {
  color: white;
  margin: auto;
  padding-bottom: 10px;
}

.App-Center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link {
  font-size: 2em;
  color: black;
}

.App-login {
  display: flex;
  flex-direction: column;
  padding-top: 7px; 
}

.dumbbell {
  margin-right: 8px;
  color: white;
}

.navbar-brand {
  color: white !important;
}

#App-CreateUser {
  max-width: 400px;
  background-color: rgba(245, 245, 245, 0.281);
  padding: 0px 0px 15px 0px;
  box-shadow: 4px 4px 8px 4px rgba(247, 247, 247, 0.2), 4px 6px 18px 4px rgba(231, 231, 231, 0.19); /* taken from w3 school */  border-radius: 10px;
}

.App-bg-custom {
  background-color: transparent;
}