html {
  overflow: hidden;
  height: 100%;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 100%;
  overflow: auto;
}
.App {
  height: 100vh; /* viewport height */
  background-image: url("../../images/victor-freitas-572863-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 35% 35%;
  min-height: 100%;
  
}

.App-layer {
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.App-Top {
  color: white;
  margin: auto;
  padding-bottom: 10px;
}

.App-Center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link {
  font-size: 2em;
  color: black;
}

.App-login {
  display: flex;
  flex-direction: column;
  padding-top: 7px; 
}

.App-login-button {
  background-color: rgb(111, 223, 0) !important;
  border: none !important;

}

#login:hover {
  background-color: rgb(95, 190, 0) !important;

}

#App-CreateUser {
  max-width: 400px;
  background-color: rgb(220, 220, 220, .3);
  padding: 15px 0px 35px 0px;
  box-shadow: 4px 4px 8px 4px rgba(247, 247, 247, 0.2), 4px 6px 18px 4px rgba(231, 231, 231, 0.19); /* taken from w3 school */
  border-radius: 10px;
}