/* TODO: Center the entire thing (it's shifted on one side it looks like) */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    width: 100%;
    background-color: #FBE8A6;
    
}

.Exercise {
    height: 100%; /* viewport height */
    min-height: 100%;
    color: white;
    overflow: visible;

}

.Exercise-top-button{
    margin-left: 10px;
    color: white;
    background-color: #ff8f4e;
    box-shadow: none;

}

.Exercise-top-button:hover{
    background-color: rgb(233, 128, 67);
}

.Exercise-tab-title {
    background-color: rgb(97, 97, 97);
}

.Exercise-tab button {
    background-color:  rgb(97, 97, 97);
    color: white;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    
    
}

.Exercise-tab-btn {
    margin-left: -15px;
}
/* */
.Exercise-title {
    font-size: 3.5vw;
}

.Exercise-save-button {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    margin-right: -12px;
    background-color: #F67131;
    color: white;
}

.Exercise-save-button:hover {
    background-color: rgb(207, 95, 42);
}

.rowNames {
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    padding: 0;
    text-align: center;
    font-size: 24px;
}

.addRow {
    width: 80px;

}

.Exercise-container {
    background-color: whitesmoke;
    
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.144), 0px 0px 2px 1px rgba(0, 0, 0, 0.19); /* taken from w3 school */

}

.active {
    background-color: rgb(97, 97, 97) !important;
    color: white !important;
}

.navbar {
    padding-top: 7px;
    color: white;
    width: 100%;
    margin-bottom: -24px;
}

.navbar-nav {    
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.custom-navbar-nav {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media only screen and (max-width: 366px){
    .hiddenifsmall {
        display: none;
    }
    .hiddeniflarge {
        margin-right: -50px;
    }
}

@media only screen and (min-width: 367px){
    .hiddeniflarge {
        display: none;
    }
}

.dropdown-menu {
    background-color: rgb(253, 253, 253);
}

.dropdown-toggle {
    background-color: transparent;
    color: #FCFDFD;
}

.bg-custom {
    background-color:  transparent;
    color: #FCFDFD;
}

.title-color {
    color: #FCFDFD;
}

.loader {

    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #F67131;
    border-bottom: 16px solid #F67131;
    width: 15px;
    height: 15px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

#save-overlay {
    display: none;
    position: fixed;
    
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.5);
    z-index: 2;

}

#overlay-text {
    color: white;
    font-size: 5vh;

}