.Login-Div {
    height: 100%; /* viewport height */

    min-height: 100%;
    color: white;
    position: relative;
    z-index: 2;
}

.Login-btnsize {
    width: 208px;
    background-color: #ff8f4e;
    color: white;
}

.Login-btnsize:hover {
    background-color: rgb(233, 128, 67);
}

.Login-bg-custom {
    background-color: transparent;
}

.errorText {
    background-color: #ff8f4ef6;
    padding: 10px 15px;
    border-radius: 2px;
}

#errorLogin {
    color: white;
    margin-bottom: 15px;
    width: 100%;
}

#Login-User {
    max-width: 400px;
    background-color: rgba(245, 245, 245, 0.281);
    padding: 5px 0px 15px 0px;
    box-shadow: 4px 4px 8px 4px rgba(247, 247, 247, 0.2), 4px 6px 18px 4px rgba(231, 231, 231, 0.19); /* taken from w3 school */  border-radius: 10px;
    border-radius: 10px;
}
