body {
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.App {
  height: 100vh; /* viewport height */
  background-image: url("../images/victor-freitas-572863-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 35% 35%;
  min-height: 100%;
  
}

.App-layer {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.App-Box {
  padding: 30px 30px;
  color: black;
  margin: 0 20px;
  border-radius: 25px;
}

.App-Top {
  color: white;
  margin: auto;
}

.App-bottom {
  padding-top: 10px;
}

.App-Center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link {
  font-size: 2em;
  color: black;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.App-login {
  display: flex;
  flex-direction: column;
  padding-top: 7px; 
}

.App-login-button {
  background-color: Transparent !important;
  border: 1px solid gainsboro !important;

}

#login:hover {
  background-color: rgb(220, 220, 220, .3) !important;

}

#App-CreateUser {
  max-width: 400px;
  background-color: rgb(220, 220, 220, .3);
  padding: 15px 0px 35px 0px;
  box-shadow: 4px 4px 8px 4px rgba(247, 247, 247, 0.2), 4px 6px 18px 4px rgba(231, 231, 231, 0.19); /* taken from w3 school */
  border-radius: 10px;
}